<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card card-plain">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title mt-0"> Tabla consulta de estudiantes y transacciones</h4>
                      <p class="card-category"> Consultas...</p>
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table table-hover">
                              <thead class="">
                                  <th>
                                      ESTADO ESTUDIANTE
                                  </th>
                                  <th>
                                      ESTUDIANTE
                                  </th>
                                  <th>
                                      FECHA TRANSACCIÓN
                                  </th>
                                  <th>
                                      ESTADO TRANSACCIÓN
                                  </th>
                                  <th>
                                      COMENTARIOS
                                  </th>
                              </thead>
                              <tbody>
                                  <tr>
                                      <td>
                                          Activo
                                      </td>
                                      <td>
                                          Eduardo Zambrano
                                      </td>
                                      <td>
                                          12/09/2021
                                      </td>
                                      <td>
                                          En Proceso
                                      </td>
                                      <td>
                                          Sin comentarios
                                      </td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
