<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-10">
        <div class="row">
          <div class="col-lg-11 col-md-10">
            <div class="card">
              <div class="card-header card-header-tabs card-header-danger">
                <div class="nav-tabs-navigation">
                  <h4 class="card-title">PROGRAMA INTERNACIONAL DE MOVILIDAD ESTUDIANTIL SALIENTE</h4>
                  <div class="nav-tabs-wrapper">
                    <span class="nav-tabs-title"> </span>
                    <ul class="nav nav-tabs" data-tabs="tabs">
                      <li class="nav-item">
                        <a mat-button class="nav-link active" href="#profile" data-toggle="tab">
                          <em class="material-icons">bug_report</em> DATOS PERSONALES
                          <div class="ripple-container"></div>
                        </a>
                      </li>
                      <li class="nav-item">
                        <a mat-button class="nav-link" href="#infoAcademica" data-toggle="tab">
                          <em class="material-icons">code</em> INFORMACION ACADEMICA
                          <div class="ripple-container"></div>
                        </a>
                      </li>
                      <li class="nav-item">
                        <a mat-button class="nav-link" href="#settings" data-toggle="tab">
                          <i class="material-icons">cloud</i> INFORMACIÓN MOVILIDAD INTERNACIONAL
                          <div class="ripple-container"></div>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="card-body">
                <div class="tab-content">
                  <div class="tab-pane active" id="profile">
                    <div class="card-body">
                      <form [formGroup]="formValuePersonalInformation">
                        <div class="row">
                          <div class="col-md-4">
                            <mat-form-field class="example-full-width">
                              <input matInput placeholder="Nombre completo" formControlName="nombreCompleto"
                                type="text">
                            </mat-form-field>
                          </div>
                          <div class="col-md-4">
                            <mat-form-field class="example-full-width">
                              <input matInput placeholder="Apellidos" formControlName="apellidos" type="text">
                            </mat-form-field>
                          </div>
                          <div class="col-md-4">
                            <mat-form-field class="example-full-width">
                              <input matInput placeholder="Nacionalidad" formControlName="nacionalidad" type="text">
                            </mat-form-field>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-4">
                            <mat-form-field class="example-full-width">
                              <input matInput placeholder="Documento de identificación"
                                formControlName="documentoIdentificacion" type="number">
                            </mat-form-field>
                          </div>
                          <div class="col-md-4">
                            <mat-form-field appearance="fill">
                              <mat-label>Fecha de nacimiento</mat-label>
                              <input matInput [matDatepicker]="picker" formControlName="fechaNacimiento">
                              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                              <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>
                          </div>
                          <div class="col-md-4">
                            <mat-form-field class="example-full-width">
                              <input matInput placeholder="Sexo" formControlName="sexo" type="text">
                            </mat-form-field>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-2">
                            <mat-form-field class="example-full-width">
                              <input matInput placeholder="Tipo de sangre" formControlName="tipoSangre" type="text">
                            </mat-form-field>
                          </div>
                          <div class="col-md-2">
                            <mat-form-field class="example-full-width">
                              <input matInput placeholder="RH" formControlName="rh" type="text">
                            </mat-form-field>
                          </div>
                          <div class="col-md-4">
                            <mat-form-field class="example-full-width">
                              <input matInput placeholder="Dirección de residencia"
                                formControlName="direccionResidencia" type="text">
                            </mat-form-field>
                          </div>
                          <div class="col-md-4">
                            <mat-form-field class="example-full-width">
                              <input matInput placeholder="Teléfono" formControlName="telefono" type="number">
                            </mat-form-field>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-4">
                            <mat-form-field class="example-full-width">
                              <input matInput placeholder="Estado civil" formControlName="estadoCivil" type="text">
                            </mat-form-field>
                          </div>
                          <div class="col-md-4">
                            <mat-form-field class="example-full-width">
                              <input matInput placeholder="N Pasaporte" formControlName="numeroPasaporte" type="text">
                            </mat-form-field>
                          </div>
                          <div class="col-md-4">
                            <mat-form-field class="example-full-width">
                              <input matInput placeholder="Celular" formControlName="celular" type="number">
                            </mat-form-field>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-4">
                            <mat-form-field class="example-full-width">
                              <input matInput placeholder="En caso de emergencia llamar a"
                                formControlName="nombreAcudiente" type="text">
                            </mat-form-field>
                          </div>
                          <div class="col-md-4">
                            <mat-form-field class="example-full-width">
                              <input matInput placeholder="Teléfono Acudiente" formControlName="telefonoAcudiente"
                                type="text">
                            </mat-form-field>
                          </div>
                          <div class="col-md-4">
                            <mat-form-field class="example-full-width">
                              <input matInput placeholder="Parentesco" formControlName="parentesco" type="text">
                            </mat-form-field>
                          </div>
                        </div>
                        <button mat-raised-button type="submit" class="btn btn-danger pull-right"
                          [disabled]="true">Cargar</button>
                        <div class="clearfix"></div>
                      </form>
                    </div>
                  </div>
                  <div class="tab-pane" id="infoAcademica">
                    <div class="card-body">
                      <form [formGroup]="formValueAcademicInformation">
                        <div class="row">
                          <div class="col-md-4">
                            <mat-form-field>
                              <mat-select placeholder="Facultad" [(ngModel)]="facultad" name="facultad"
                                [ngModelOptions]="{standalone: true}">
                                <mat-option *ngFor="let facultad of facultades" [value]="facultad">
                                  {{facultad.nombreFacultad}}
                                </mat-option>
                              </mat-select>
                            </mat-form-field>
                          </div>
                          <div class="col-md-4">
                            <mat-form-field class="example-full-width">
                              <input matInput placeholder="Código" formControlName="codigo" type="text">
                            </mat-form-field>
                          </div>
                          <div class="col-md-4">
                            <mat-form-field>
                              <mat-select placeholder="Programa Academico" [(ngModel)]="programaAcademico" name="programaAcademico"
                              [ngModelOptions]="{standalone: true}">
                                <mat-option *ngFor="let programaAcademico of programasAcademico" [value]="programaAcademico">
                                  {{programaAcademico.nombrePrograma}}
                                </mat-option>
                              </mat-select>
                            </mat-form-field>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-4">
                            <mat-form-field class="example-full-width">
                              <input matInput placeholder="Sem. Académico" formControlName="semestreAcademico"
                                type="text">
                            </mat-form-field>
                          </div>
                          <div class="col-md-4">
                            <mat-form-field class="example-full-width">
                              <input matInput placeholder="Jornada" formControlName="jornada" type="text">
                            </mat-form-field>
                          </div>
                          <div class="col-md-4">
                            <mat-form-field>
                              <mat-select placeholder="Estado Trámite" [(ngModel)]="estado" name="estado"
                                [ngModelOptions]="{standalone: true}">
                                <mat-option *ngFor="let estado of estados" [value]="estado">
                                  {{estado.nombre}}
                                </mat-option>
                              </mat-select>
                            </mat-form-field>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-4">
                            <mat-form-field class="example-full-width">
                              <input matInput placeholder="Promedio Acumulado" formControlName="promedioAcumulado"
                                type="text">
                            </mat-form-field>
                          </div>
                          <div class="col-md-4">
                            <mat-form-field class="example-full-width">
                              <input matInput placeholder="Idiomas" formControlName="idiomas" type="text">
                            </mat-form-field>
                          </div>
                        </div>
                        <button mat-raised-button type="submit" class="btn btn-danger pull-right"
                          [disabled]="true">Cargar</button>
                        <div class="clearfix"></div>
                      </form>
                    </div>
                  </div>
                  <div class="tab-pane" id="settings">
                    <div class="card-body">
                      <form [formGroup]="formValueInternationalInformation">
                        <div class="row">
                          <div class="col-md-8">
                            <mat-form-field class="example-full-width">
                              <input matInput
                                placeholder="Institución en el exterior en donde desarrollará la actividad"
                                formControlName="institucionExterior" type="text">
                            </mat-form-field>
                          </div>
                          <div class="col-md-4">
                            <mat-form-field class="example-full-width">
                              <input matInput placeholder="Pais" formControlName="pais" type="text">
                            </mat-form-field>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-4">
                            <mat-form-field>
                              <mat-select placeholder="Ciudad" [(ngModel)]="ciudad" name="ciudad"
                                [ngModelOptions]="{standalone: true}">
                                <mat-option *ngFor="let ciudad of ciudades" [value]="ciudad">
                                  {{ciudad.nombre}}
                                </mat-option>
                              </mat-select>
                            </mat-form-field>
                          </div>
                          <div class="col-md-4">
                            <mat-form-field appearance="fill">
                              <mat-label>Fecha Salida</mat-label>
                              <input matInput [matDatepicker]="outPicker"  formControlName="fechaSalida">
                              <mat-datepicker-toggle matSuffix [for]="outPicker"></mat-datepicker-toggle>
                              <mat-datepicker #outPicker></mat-datepicker>
                            </mat-form-field>
                          </div>
                          <div class="col-md-4">
                            <mat-form-field appearance="fill">
                              <mat-label>Fecha Regreso</mat-label>
                              <input matInput [matDatepicker]="inPicker"  formControlName="fechaRegreso">
                              <mat-datepicker-toggle matSuffix [for]="inPicker"></mat-datepicker-toggle>
                              <mat-datepicker #inPicker></mat-datepicker>
                            </mat-form-field>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-4">
                            <mat-form-field class="example-full-width">
                              <input matInput placeholder="Duración del programa" formControlName="duracionPrograma"
                                type="text">
                            </mat-form-field>
                          </div>
                          <div class="col-md-4">
                            <mat-form-field class="example-full-width">
                              <input matInput placeholder="Fuente de financiación" formControlName="fuenteFinanciacion"
                                type="text">
                            </mat-form-field>
                          </div>
                        </div>
                        <button mat-raised-button type="submit" class="btn btn-danger pull-right" data-toggle="modal"
                          data-target="#exampleModal">Cargar</button>
                        <div class="clearfix"></div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-sm" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">¡Confirmación registo!</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-footer">
              <button type="button" id="cancelar" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
              <button (click)="crearFormularioInscripcion()" mat-raised-button type="button"
                class="btn btn-danger pull-right">Confirmar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>