<div class="main-content" *ngIf = "departamento != null">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="">
                        <br>
                        <br>
                        <br>
                        <h1>Fuera del for!</h1>
                        <div *ngFor="let Departamento of departamentos">
                            <p>{{Departamento.nombre}}</p>
                        </div>

                        <h3>prueba by ID !</h3>
                        <p>{{departamento.nombre}}</p>

                        <div class="col-md-4">
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Nombre departamento" [(ngModel)]="nombreDepartamento" type="text">
                            </mat-form-field>
                        </div>
                        <button (click)="crearFormularioInscripcion()" mat-raised-button type="button"
                            class="btn btn-danger pull-right">crearDepartamento</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>